.-block-centering {
  display: block;
  text-align: center;
}

.-margin-top {
  margin-top: calc(var(--DefaultMargin) * 5);
}

.-margin-right {
  margin-right: calc(var(--DefaultMargin) * 5);
}

.-margin-bottom {
  margin-bottom: calc(var(--DefaultMargin) * 5);
}

.-margin-left {
  margin-left: calc(var(--DefaultMargin) * 5);
}

[hidden] {
  display: none;
}
