<input type="checkbox" id="Navigation__STATE">
<nav class="Navigation">
  <div class="_Related" data---navigationitem>
    <app-hadis-list-item data---navigationitem [hadis]="prevHadis"></app-hadis-list-item>
    <app-hadis-list-item data---navigationitem [hadis]="nextHadis"></app-hadis-list-item>
  </div>
  <div class="_Logo">
    <div class="_Title">40</div>
    <div class="_Subtitle">hadis</div>
    <div class="_Link"><a [routerLink]="['/']">← Ana sayfa'ya dön</a></div>
  </div>
  <label for="Navigation__STATE">
    <div class="_Text">Menü</div>
    <div class="_Icon __Active"></div>
</label>
</nav>
